html {
	border-top: 7px solid #c8102e!important;
}
body {
	padding-top: 20px;
}
h1 {
	font-family: arial;
	letter-spacing: -0.5px;
}
.logo {
	margin-top: 50px;
	text-align: center;
}
input {
	margin: 10px;
}
.content {
	margin-top: 40px;
	text-align: center
}
.content .input {
	width: 70%;
	padding-left: 50px;
}
.content .rui-icon-email {
	background-image: url(../images/email.png);
	background-repeat: no-repeat;
	background-size: 25px 15px;
	background-position: 12px;
}
.content .rui-icon-password {
	background-image: url(../images/password.png);
	background-repeat: no-repeat;
	background-size: 21px 19px;
	background-position: 15px;
}
.sign-in {
	width: 70%;
}