html {
	border-top: 7px solid #c8102e!important;
}
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	padding-top: 20px;
	font-size: 100%;
	font-family: "Source Sans Pro", sans-serif;
	color: #333f48;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
a {
	color: #e84a64;
	text-decoration: none;
}
img {
	max-width: 100%;
}
.title {
	text-align: center;
	padding-bottom: 15px;
}
.title img {
	vertical-align: middle;
	border-style: none;
	height: 40px;
}
.cd-container {
	/* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}
.cd-container::after {
	/* clearfix */
	
	content: '';
	display: table;
	clear: both;
}
/* -------------------------------- 

Main components 

-------------------------------- */

header {
	position: relative;
	height: 200px;
	background: white;
	text-align: center;
	margin-bottom: 1em;
	padding-top: 3em;
}
header #cd-logo {
	margin-bottom: 3em;
}
header h1 {
	font-size: 20px;
	font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
	header {
		margin-bottom: 4em;
	}
}
@media only screen and (min-width: 1170px) {
	header {
		height: 400px;
		padding-top: 11em;
	}
	header #cd-logo {
		position: absolute;
		top: 40px;
		left: 5%;
	}
	header h1 {
		font-size: 40px;
		font-size: 2.5rem;
		font-weight: 300;
	}
}